@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap");

html {
  height: 100%;
}
body {
  background-color: #2e2c2c;
  margin: 0;
  position: relative;
}

main {
  flex: 1 0 auto;
  min-height: 75vh;
}

* {
  font-family: "Roboto Mono", monospace;
}
